<div class="theArena">
  <%= render "puppy_battle_title" %>

  <div class="showDown">
    <div class="combatant c1" style="background: url(<%= Combatant.first.url %>) center center"></div>
    <div class="combatant c2" style="background: url(<%= Combatant.second.url %>) center center"></div>
  </div>

  <div class="puppyRankingContainer">
    <nav class="puppyRanking">
      <% Combatant.all.each do |c| %>
        <div class="pup"
          style="background: url(<%= c.url %>) center center"></div>
      <% end %>
    </nav>
  </div>

<!--   <%= link_to 'Submit a new puppy!', new_combatant_path, class: "newCombatantButton" %> -->
</div>
