<div class="theArena">
  <%= render "puppy_battle_title" %>

  <div class="showDown">
    <div class="combatant c1" data-combatant-id="<%= @combatants.first.id %>">
      <div class="pupImage" style="background: url(<%= @combatants.first.url %>) center center"></div>
      <div class="heartOverlay"></div>
    </div>
    <div class="combatant c2" data-combatant-id="<%= @combatants.second.id %>">
      <div class="pupImage" style="background: url(<%= @combatants.second.url %>) center center"></div>
      <div class="heartOverlay"></div>
    </div>
  </div>

  <div class="puppyRankingContainer">
    <nav class="puppyRanking">
      <% @combatants.each do |c| %>
        <div class="pup"
          style="background: url(<%= c.url %>) center center"></div>
      <% end %>
    </nav>
  </div>

<!--   <%= link_to 'Submit a new puppy!', new_combatant_path, class: "newCombatantButton" %> -->
</div>
